/* General Main Styles */
section  {
    padding-top: 110px;
}

section .main-center {
    width: 55%;
    margin: 0 auto;
}

/* Section Styles */
.first-section .section-title {
    font-size: 28px;
    padding-bottom: 60px;
}

/* First Section */
.main-center .check-radio {
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 50px;
}

.check-radio input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.first-section .row {
    display: flex;
    padding-top: 50px;
    margin: 0 -28px;
}

.first-section .col-box {
    width: calc(100% / 3);
    padding: 0 28px;
}

.first-section .col {
    border: 2px solid rgb(194, 194, 194);
}

.first-section .col:hover {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.box-title {
    width: 100%;
    height: 43px;
    border-bottom: 2px solid rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-title {
    font-size: 16px;
}

.col-center {
    padding: 35px;
}

.col-center .col-header {
    margin-bottom: 50px;
}

.col-header .offert {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 16px;
}

.col-header .price {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.col-header .frequency {
    font-size: 15px;
    color: rgb(114, 114, 114);
}

.col-center ul {
    list-style: none;
    margin-bottom: 50px;
}

.first-section ul li {
    font-size: 15px;
    margin-bottom: 20px;
}

.first-section li i {
    margin-right: 4px;
}

.offers-button {
    padding: 0;
    margin-bottom: 30px;
}

.offers-button .free-trial {
    width: 100%;
    padding: 12px 0;
    font-size: 15px;
}

.purchase {
    margin-bottom: 15px;
}

.first-section .line {
    width: 50px;
    height: 15px;
    border-bottom: 2px solid rgb(194, 194, 194);
    margin-bottom: 45px;
}

.plan .plan-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

.plan .fa-check {
    color: #0668ff;
}

.row .team-offer {
    width: 100%;
}

.offert {
    display: flex;
    justify-content: space-between;
}

.col-header .team-price {
    margin-bottom: 60px;
}

.col-center .team-box {
    margin: 0;
}

/* Second Section */
.second-section {
    padding-top: 150px;
}

section .display-section {
    width: 55%;
    margin: 0 auto;
    display: flex;
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
    padding: 50px;
}

.box-partner-img img {
    width: 100%;
}

.right-side h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.right-side p {
    font-size: 17px;
    margin-bottom: 30px;
}

.right-side .search-partner-button {
    background-color: white;
    font-size: 18px;
    padding: 10px 17px;
    border: 2px solid black;
    cursor: pointer;
}

.right-side .search-partner-button:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Third Section */
.third-section {
    padding-top: 160px;
}

.third-section .section-title {
    font-size: 28px;
    padding-bottom: 60px;
}

.third-section .row {
    display: flex;
    margin: 0 -28px;
    margin-bottom: 30px;
}

.col-box {
    width: calc(100% / 3);
    padding: 0 28px;
}

.dropbox-business .business-image {
    width: 90%;
}

.third-section h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.third-section p {
    font-size: 17px;
    margin-bottom: 30px;
}

/* Fourth Section */
.fourth-section {
    padding-top: 150px;
}

.fourth-section .section-title {
    font-size: 28px;
    padding-bottom: 60px;
}

.clients a {
    font-size: 17px;
}

.fourth-section .container-teams {
    width: 100%;
    display: flex;
    margin-top: 150px;  
}

.fourth-section .left-part, .center-part, .right-part {
    width: calc(100% / 3);
    height: 700px;
}

.fourth-section .upper, .lower {
    display: flex;
}

.fourth-section .top-left, .top-right, .bottom-left, .bottom-right {
    height: 350px;
    width: 350px;
    position: relative;
}

.left-part img, .right-part img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: brightness(0) invert(1);
}

.container-teams .designit-style {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.container-teams .arizona-style {
    background-color: #61082b;
}

.container-teams .florida-style {
    background-color: #0093ce;
}

.container-teams .topps-style {
    background-color: #ff1c1c;
}

.container-teams .world-bicycle-style {
    background-color: #d5001f;
}

.container-teams .hearst-style {
    background-color: #b4d0e7;
}

.container-teams .lonely-planet-style {
    background-color: #0d2481;
}

.container-teams .clear-channel-style {
    background-color: #ffd830;
}

.fourth-section .center-container {
    padding: 60px;
}

.center-part {
    background-color: #f5f5f5;
}

.center-part img {
    width: 300px;
}

.fourth-section .line {
    width: 120px;
    height: 40px;
    border-bottom: 2px solid rgb(194, 194, 194);
    margin-bottom: 40px;
}

.fourth-section p {
    font-size: 17px;
    margin-bottom: 50px;
}

.fourth-section .author {
    font-size: 17px;
}

.container-extra {
    background-color: #b4d0e7;
}

.container-extra .main-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-extra .section-title {
    font-size: 28px;
    color: #61082b;
    padding: 120px 0;
}

.container-extra .free-trial {
    background-color: #ffff;
    border: none;
    padding: 12px 60px;
    font-size: 18px;
    cursor: pointer;
}

.container-extra .free-trial:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Fifth Section */
.fifth-section {
    padding-top: 140px;
}

.fifth-section .section-title {
    font-size: 28px;
    margin-bottom: 70px;
}

.fifth-section .box-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.fifth-section .open-question {
    padding-right: 40px;
}

.fifth-section .question {
    font-size: 17px;
    font-weight: bold;
    padding: 40px 0 40px;
}

.fifth-section .box-question.bottom {
    border-bottom: 1px solid black;
}